header {
	margin-right: 0;
	margin-left: 0;
}

.black {
	background-color: #FFA812;
	
}

.black div h3 {
	background-color: #000000;
	font-size: 50px;
}

.black div {
	padding-left: 0px;
    padding-right: 0px;
}

.black .krug {
	background-color: #000000;
	padding-top: 130px;
	padding-bottom: 130px;
    border-radius: 50%;
    
}

.black .krug h1 {
	font-size: 80px;
}

.head {
    background-color: #FFA812;
    height: 150px;
    margin: 0;
    padding: 0;
}

.headblack {
	background-color: #000000;
    height: 50px;
}

nav {
	background-color: #000000;
	margin: auto;
	padding-bottom: 100px;
}

.spisok {
	width: 100%;
}

.adres {
	background-color: #FFA812;
    height: 150px;
}

.adres p {
	font-size: 25px;
}

.adres .tel {
	font-size: 30px;
}

.telefon {
	background-color: #FFA812;
    height: 150px;
}

.telefon p {
	font-size: 25px;
}

main {
	padding-top: 50px;
	background-color: #FFA812;
}

.rol1{
	position: relative;
	margin-bottom: 20px;

}

.rol1 .zen {
	margin-top: -20px;
	background-color: #FFFFFF;
}

.rol1 .zen h2 {
	color: red;
}

 .zezar  {
	position: absolute;
	top: ;
}

.zezar img {
	width: 200px;
}

.nazvanie {
	background-color: #000000;
	color: #ffffff;
	padding-left: 200px;
}

.nazvanie p {
	background-color: #EBD9A8;
	color: #000000;
	height: 100px;
}

.nazvanie p span {
	color: red;
	font-weight: bold;
	font-size: 20px;
	bottom: 20px;
}

