header {
	margin-right: 0;
	margin-left: 0;
}

.black {
	background-color: #FFA812;
	
}

.black div h3 {
	background-color: #000000;
	font-size: 50px;
	
	
	
}

.black div {
	padding-left: 0px;
    padding-right: 0px;
}

.black .krug {
	background-color: #000000;
	padding-top: 130px;
	padding-bottom: 130px;
    border-radius: 50%;
    width: 364px;
    margin: auto;
    z-index: 10;
    
}

.black .krug h1 {
	font-size: 80px;
}

.head {
    background-color: #FFA812;
    height: 150px;
    margin: 0;
    padding: 0;
}

.headblack {
	background-color: #000000;
    height: 50px;
}

nav {
	background-color: #000000;
	margin: auto;
	padding-bottom: 100px;
}

nav a {
	font-size: 20px;
}

.spisok {
	width: 100%;
}

.adres {
	background-color: #FFA812;
    height: 150px;
}

.adres p {
	font-size: 25px;
}

.adres .tel {
	font-size: 30px;
}

.telefon {
	background-color: #FFA812;
    height: 150px;
}

.telefon p {
	font-size: 25px;
}

main {
	padding-top: 50px;
	background-color: #FFA812;
}

.rol1{
	position: relative;
	margin-bottom: 20px;
	border-radius: 25px;
}

.rol1 .zen {
	margin-top: -20px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-right: 5px;
    padding-bottom: 1px;

}

.rol1 .zen h2 {
	color: red;
	text-shadow: 1px 1px 2px black;
}

 .zezar  {
	position: absolute;
	top: 0;
}

.zezar img {
	width: 200px;
}

.nazvanie {
	background-color: #000000;
	color: #ffffff;
	padding-left: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.nazvanie p {
	background-color: #EBD9A8;
	color: #000000;
	height: 100px;
}

.nazvanie p span {
	color: red;
	font-weight: bold;
	font-size: 20px;
	bottom: 20px;
}



.nazvanie h4 {
	height: 100px;
	padding-right: 10px;
}

footer {
	background-color: #000000;
}

.but {
	background-color: #000000;
	margin: auto;
	color: #ffffff;
}

.but img {
	width: 32px;
}

section {
	background-color: #FFA812;
}

.container .row .set img {
	width: 300px;
}


@media (min-width: 992px){
	section .set {
		height: 465px;
	}
} 


section .set p {
	background-color: #EBD9A8;
	color: #000000;
	height: 100px;
}


section .set header {
	background-color: #000000;
	margin-bottom: 0;
	border-radius: 20px;
	
}

section .set  h3 {
	color: #ffffff;
	font-size: 50px;
}

section .set  h6 {
	color: #ffffff;
	font-size: 25px;
}

section .set p span {
	font-size: 20px;
	color: red;
}

section .set  h4 {
	color: red;
	background-color: #ffffff;
	font-size: 30px;
	text-shadow: 1px 1px 2px black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-right: 10px;
    padding-bottom: 3px;
}